@import url(//fonts.googleapis.com/css?family=Monda:400);
@import url(//fonts.googleapis.com/css?family=Paprika);

body { background-color: #086a87; color: #f0f0f0; }

body, form, select, option {
    font-family: 'Monda', Helvetica, Arial, sans-serif;
}

a, a:visited {
    color: #81DAF5;
}

textarea {
    font-family: 'Monda', Helvetica, Arial, sans-serif;
    font-size: 110%;
    margin-right: 8px;
}

input[type='text'], input[type='password'] {
    font-size: 100%;
    padding: .5em;
}

#mem {  background-color: #fff; padding: 1.5em; width: 50%; }
#charsLeft { color: #aaa; vertical-align: 4px; }

h1 { font-family: 'Paprika'; }
.small { font-size: 85%; margin-left: 2em; }
.monda { font-family: 'Monda'; }

table, tr, td {
    border: 1px solid black;
    padding: .5em;
    border-collapse: collapse;
}

.button {
    background-color: #b01800;
    border-radius:11px;
    border:1px solid #871200;
    display:inline-block;
    color:#ffffff;
    font-family: Monda, 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size:17px;
    font-weight:normal;
    padding:14px 24px;
    text-decoration:none;
}.button:hover {
    background-color:#871200;
}.button:active {
    position:relative;
    top:1px;
}
